/*canvas {
position: fixed;
top: 0;
left: 0;
}

main {
width: 100vw;
background-color: darkgrey;
z-index: 99;
position: absolute;
width: 100%;
margin: 0px auto;
padding: 50px 0px;

display: grid;
grid-template-columns: repeat(12, 1fr);
}

h1, h2, blockquote {
background-color: darkgrey;
color: black;
line-height: 50px;
font-family: elevon, sans-serif;
font-weight: 700;
font-style: normal;
}

h3
{
background-color: darkgrey;
color: black;
line-height: 50px;
font-family: elevon, sans-serif;
font-style: normal;
}

canvas {
position: fixed;
top: 0;
left: 0;
}



header {
background: var(--dark-bg);
grid-column: 2 / span 5;
font-size: 2.5rem;
padding: 2rem;
margin-bottom: var(--spacing);
}

section {
color: black;
grid-column: 2 / 8;
padding: 1rem;
background: var(--dark-bg);
font-size: 1.25rem;
line-height: 1.5;
margin-bottom: var(--spacing);
}

blockquote {
margin: 0;
padding: 0;
grid-column: 2 / span 9;
margin-bottom: var(--spacing);
}

blockquote p {
color: black;
background-color: darkgrey;
font-size: 4rem;
display: inline;
line-height: 1;
}

.left {
grid-column: 6 / 12;
}*/

body {
    background-color: lightgray
}
.navbar-item:hover{
    background-color: lightgrey !important;
}
.rounded{
    border-radius: 50%;
}
.rcorners{
    border-radius: 75px;
    background: "assets/profphoto2";
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
}